<div class="row">
  <div class="col-md-12">
    <h3 style="margin-top:20px; padding-bottom: 10px">New Posts</h3>
    <div style="margin-top:10px">
      <div *ngFor="let post of posts">
        <div class="row">
          <div class="col-md-2">
            <img src="{{imgBaseUrl + post.thumbnail}}" width="100%" height=120px>
          </div>
          <div class="col-md-10">
            <h5>{{post.title}}</h5>
            <p style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{post.body}}</p>
            <a routerLink="show/{{post.id}}" class="text-primary">Read More</a>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>