<div class="row">
  <div class="col-md-12">
    <br>
    <div class="row">
      <div class="col-md-8">
        <h3>Lists Post</h3>
      </div>
      <div class="col-md-4">
        <form class="form-inline my-2 my-lg-0" style="float:right" (ngSubmit)="search()">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search"
            [(ngModel)]="txSearch">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    <table class="table" style="table-layout:fixed; margin-top:10px">
      <thead>
        <th width="20%">Title</th>
        <th width="63%">Body</th>
        <th width="17%">Action</th>
      </thead>
      <tbody *ngFor="let post of posts">
        <td>{{post.title}}</td>
        <td>
          <p style="text-overflow: ellipsis; overflow: hidden; white-space:nowrap; width:100%;">{{post.body}}
          </p>
        </td>
        <td>
          <a class="btn btn-warning" routerLink="show/{{post.id}}">Detail</a>
          <button class="btn btn-danger" style="margin-left:6px" (click)="deletePost(post.id)">Delete</button>
        </td>
      </tbody>
    </table>
    <nav aria-label="...">
      <ul *ngIf="!paginationHidden" class="pagination">
        <li class="{{pagePrevClass}}">
          <button class="page-link" tabindex="-1" aria-disabled="true" (click)="loadPosts('prev')">Previous</button>
        </li>
        <li class="page-item disabled">
          <p class="page-link" aria-disabled="true">Page {{page}} of {{totalPages}}</p>
        </li>
        <li class="{{pageNextClass}}">
          <button class="page-link" (click)="loadPosts('next')">Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>